<div class="news-wrapper">
	<div class="row">
		<div class="col-sm-9 main-col-home">
			<%= render 'layouts/news_carousel' %>
			<%= render 'layouts/news_top' %>
		</div>
		<div class="col-sm-3 featured-video">
			<%= render 'layouts/news_side' %>
		</div>
	</div>
</div>