// Place all the styles related to the HomePage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Bootstrap Import */

@import 'furatto_overrides';

html{
	background-image: image-url('bg_prehome.jpg');
	height: 100%;
	background-size: cover;
	display: flex;
	flex-direction: colum;
	justify-content: center;
	align-items: center;
	-webkit-transition: all 10000ms;
}


.grayscale-bg {
	-webkit-filter: grayscale(100%); 
	filter: grayscale(100%);
}

body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

#login-submit{
	margin: 0;
	padding: 0;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 2px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 45px;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}