<header>
	<nav class="navigation-bar">
	  <ul class="brand-section">
     <li class="brand-name">
      <a href="/" class="menu-trigger" id="trigger">REDART</a>
     </li>
     <li class="menu-toggle">
      <a href="#">Menu</a>
     </li>
   </ul>
		<ul class="pull-right">
			<li class="row">
			    <form action="" method="get" accept-charset="utf-8">
			      <div class="row">
			      	<div class="col-5">
			      		<input type="text" name="" id="" value="" />
			      	</div>
			      	<div class="col-5">
			      		<input type="password" name="" id="" value="" />
			      	</div>
			      	<div class="col-2">
			      					      	<input type="submit" name="" id="" value="Search" class="button alpha primary" />

			      	</div>
			      </div>
			      
			    </form>
			</li>
		</ul>
      
</nav>
</header>