<div class="footer">
	<div class="row">
		<div class="col-sm-5">
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
			<p> Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim.</p>
		</div>
	</div>
</div>