<div class="row section-row">
	<h2>Section</h2>
</div>
<div class="row top-row">
	<div class="col-sm-4 top-article">
		<div class="top-preview">
			<img class="img-responsive" src="http://placehold.it/700x400">
		</div>
	</div>
	
	<div class="col-sm-4 top-article">
		<div class="top-preview">
			<img class="img-responsive" src="http://placehold.it/700x400">
		</div>
	</div>
	<div class="col-sm-4 top-article">
		<div class="top-preview">
			<img class="img-responsive" src="http://placehold.it/700x400">
		</div>
	</div>
</div>