<div class="top-preview">
	<div class="embed-responsive embed-responsive-16by9">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/9IQQaC2DDgM" frameborder="0" allowfullscreen></iframe>
	</div>
	<p class="text-muted vid-src">Fuente: Lorem Ipsum Inc. 2015</p>
	<span class="glyphicon glyphicon-facetime-video"></span>
	<p class="text-muted">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim.</p>
</div>